<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933824176877-0h6t2u2ol5ksnbev39sdb977tupdde43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933824176877-0h6t2u2ol5ksnbev39sdb977tupdde43</string>
	<key>API_KEY</key>
	<string>AIzaSyAK3RFQImq8f6L-gNZrQNrWoHScsnW7bu0</string>
	<key>GCM_SENDER_ID</key>
	<string>933824176877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezerway.StickerSmash</string>
	<key>PROJECT_ID</key>
	<string>ez-sticker-smash-19d8c</string>
	<key>STORAGE_BUCKET</key>
	<string>ez-sticker-smash-19d8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933824176877:ios:e510b3a7662251b791a2e4</string>
</dict>
</plist>