*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-0 {
  bottom: 0px
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.mb-4 {
  margin-bottom: 1rem
}

.flex {
  display: flex
}

.h-10 {
  height: 2.5rem
}

.h-24 {
  height: 6rem
}

.h-8 {
  height: 2rem
}

.h-full {
  height: 100%
}

.w-10 {
  width: 2.5rem
}

.w-2\/3 {
  width: 66.666667%
}

.w-24 {
  width: 6rem
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem
}

.border {
  border-width: 1px
}

.border-4 {
  border-width: 4px
}

.p-2 {
  padding: 0.5rem
}

.p-3 {
  padding: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pl-3 {
  padding-left: 0.75rem
}

.pl-4 {
  padding-left: 1rem
}

.pr-1 {
  padding-right: 0.25rem
}

.pr-3 {
  padding-right: 0.75rem
}

.pt-4 {
  padding-top: 1rem
}

.text-center {
  text-align: center
}

.opacity-80 {
  opacity: 0.8
}
